/* ShoppingCart.css */

/* Body and page background color */
body {
    background-color: #fffdf5;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-family: Arial, sans-serif;
  }
  
  /* Page title styles */
  .page-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Shopping cart styles */
  .shopping-cart {
    padding: 20px;
  }
  
  /* Cart item styles */
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Cart item image styles */
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  /* Item details styles */
  .item-details {
    flex: 1;
  }
  
  .item-details h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Quantity controls styles */
  .quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantity-controls p {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .quantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .quantity-controls button:hover {
    background-color: #0056b3;
  }
  
  /* Remove button styles */
  .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover {
    background-color: #b30000;
  }
  
  /* Total price styles */
  .total {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Checkout button styles */
  .checkout-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .checkout-btn:hover {
    background-color: #1e7e34;
  }
  