/* ThankYouPage.css */

/* Navbar styles */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-family: Arial, sans-serif;
}
  /* Page title styles */
  h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
  }
  
  /* Links styles */
  .links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .return-link,
  .order-details-link {
    padding: 12px 30px;
    font-size: 24px;
    text-decoration: none;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .return-link:hover,
  .order-details-link:hover {
    background-color: #007bff;
    color: white;
  }
  